.page {
  height: 100%;
}

.page__body {
  font-family: $montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: $base-color;
  min-width: 320px;
  display: flex;
  flex-direction: column;

  &--menu-opened {
    overflow: hidden;
    position: relative;
  }

  &--menu-opened::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(45, 56, 63, 0.6);
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    overflow: visible;
    position: static;

    &::after {
      display: none;
    }
  }
}

.page__main {
  flex-grow: 1;
}
