@mixin font-face($font-family, $font-weight, $font-style, $src-woff-2, $src-woff) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $src-woff-2, $src-woff;
    font-display: swap;
  }
}

@include font-face("Montserrat", 400, normal, url("../../fonts/montserrat.woff2") format("woff2"), url("../../fonts/montserrat.woff") format("woff"));
@include font-face("Montserrat", 500, normal, url("../../fonts/montserrat-medium.woff2") format("woff2"), url("../../fonts/montserrat-medium.woff") format("woff"));
@include font-face("Montserrat", 600, normal, url("../../fonts/montserrat-semibold.woff2") format("woff2"), url("../../fonts/montserrat-semibold.woff") format("woff"));
@include font-face("Montserrat", 700, normal, url("../../fonts/montserrat-bold.woff2") format("woff2"), url("../../fonts/montserrat-bold.woff") format("woff"));
@include font-face("Montserrat", 800, normal, url("../../fonts/montserrat-extrabold.woff2") format("woff2"), url("../../fonts/montserrat-extrabold.woff") format("woff"));
